*{
  box-sizing: border-box;
}

body{
  margin: 0;
  background-color: black;
  color: white;
}

a{
  color: inherit;
}

img{
  max-width: 100%;
}

ul{
  list-style: none;
  padding-left: 0;
}

header{
  .logo__head{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo{
    border: solid white 2px;
    width: auto;
  }

  .btn{
    background-color: inherit;
    img{
      filter: invert(100%);
    }
  }

  .nav__list{
    position:fixed;
    top: 0%;
    transform: translate(-100%, 0%);
    background-color: black;
    z-index: 5;
    width: 100%;
    height: max(600px, 100vh);
  }

  .nav__list--show{
    transform: none;
  }

}
