*{
  box-sizing: border-box;
}

body{
  margin: 0;
  background-color: black;
  color: white;
}

a{
  color: inherit;
}

img{
  max-width: 100%;
}

ul{
  list-style: none;
  padding-left: 0;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  .logo{
    border: solid white 2px;
    width: auto;
  }

  .btn{
    background: green;
    //background-color: inherit;
    img{
      filter: invert(100%);
    }
  }

  .nav__list{
    display: none;
  }

  .nav__list--show{
    display: flex;
  }

}
